.signUpHeader {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.signUpForm {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}